.corDeInicio { background-color: white ; color: black ; }
.branco { background-color: white !important; color: black !important; }
.cinza { background-color: gray !important; color: black !important; }
.preto { color: black !important; }
.amarelo { color: yellow !important; }
.azul { color: blue !important; }
.verde { color: green !important; }
.vermelho { color: red !important; }
