<!DOCTYPE html>
<html lang="pt-br" ng-app="site" ng-controller="siteCtrl">

<head>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="../node_modules/w3-css/3/w3.css" />
    <link rel="stylesheet" href="../css/estilo.css">

    <script src="../node_modules/angular/angular.min.js"></script>
    <script src="../js/escript.js"></script>

    <title ng-bind="titulo"></title>
</head>

<body>
    <header class="w3-padding w3-round w3-light-green" >    
    <nav>
        <ul class="w3-bar w3-light-green">
            <li class="w3-bar-item"><a class="w3-button" href="#" ng-bind="titulo">
                
            </a></li>
            <li class="w3-bar-item"><a class="w3-button" href="cadastro.php">Cadastro de Clientes e Placas</a></li>
            <li class="w3-bar-item"><a class="w3-button" href="listagem.php">Listagem dos Clientes e Placas</a></li>
        </ul>
        
    </nav>
        <h1 class="w3-center" ng-bind="titulo"></h1>
    </header>

    <section class="w3-container ">
        
    </section>
</body>

</html>